$backgrounds: #244F75,#60BFBF,#8C4B7E,#F8BB44,#F24B4B;
$font-stack: 'Lato', sans-serif;


@for $i from 1 through 5 {

    .franja:nth-child(#{$i}) {
        width: 19vw;
        background: nth($backgrounds,$i);
        height: 100vh;  
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 9vw;
        font-family: $font-stack;
        color: white;
    }

}	

.franges .franja:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.05;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
            transform: skew(30deg) scaleY(1) translate(0, 0);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.franja:hover:before {
-webkit-transform: skew(0deg) scale(3) translate(0, 0);
        transform: skew(0deg) scale(3) translate(0, 0);
opacity: 0.1;
}

 